@import 'variables';

.layout {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
  grid-template-rows: auto 1fr;
}

.span-2 {
  grid-column: span 2;
}

.content {
  --main-section-gap: 20px;

  display: grid;
  grid-template-columns: var(--main-section-gap) 1fr var(--main-section-gap);

  @include respond-to('xl') {
    background-color: #62dee2;
  }

  @include respond-to('lg') {
    background-color: #80e262;
  }

  @include respond-to('md') {
    background-color: #d1e262;
  }

  @include respond-to('sm') {
    background-color: #e26262;

    --main-section-gap: 5px;
  }

  & > * {
    grid-column-start: 2;
  }
}

.app {
  padding: 0 10px;
  min-height: 100vh;
  font: var(--font-m);

  @include respond-to('md') {
    padding: 0 4px;
  }
}

.theme-toggle {
  position: fixed;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: 0 0 10px var(--on-primary);
  border-radius: 8px;
  top: 40px;
  right: 20px;
  font-size: 30px;
  background: transparent;

  .square-button::before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  .square-button-content {
    position: absolute;
  }
}
