.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: brown;
}

.container {
  display: grid;
  max-width: 100px;
  grid-template-columns: 1fr 1fr;
  justify-content: flex-start;
  gap: 8px;
}

.count {
  grid-column: span 2;
  justify-self: center;
}
