@import 'variables';

.container {
  display: grid;
  background-color: var(--sidebar-color);
  row-gap: 8px;
  align-content: flex-start;
  width: var(--sidebar-open);
  transition: width 0.2s ease-out;
  padding: 5px 10px;
}

.close {
  width: var(--sidebar-close);
}

.toggle {
  outline: 1px dotted black;
}
