.container {
  display: grid;
  align-content: flex-start;
  gap: 8px;
  text-align: center;
}

.flex {
  display: flex;
}

.links {
  display: grid;
  grid-template-columns: 2;
  gap: 8px;
  justify-content: center;
  text-align: center;

  .link {
    color: var(--info);

    &:hover {
      color: var(--on-primary);
    }
  }

  .success {
    color: var(--success);

    &:hover {
      color: var(--on-primary);
    }
  }

  .info {
    color: var(--info);

    &:hover {
      color: var(--on-primary);
    }
  }

  .warning {
    color: var(--warning);

    &:hover {
      color: var(--on-primary);
    }
  }

  .danger {
    color: var(--danger);

    &:hover {
      color: var(--on-primary);
    }
  }
}

.cq {
  display: flex;
  gap: 10px;
  container-type: inline-size;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  column-gap: 8px;
  align-items: center;
}

.a,
.b,
.c {
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgb(10 60 60);
}

.a {
  @container (400px < width <  900px) {
    background-color: red;
  }
}

.b {
  @container (200px < width <  600px) {
    background-color: blue;
  }
}

.c {
  @container (min-width: 700px) {
    background-color: yellow;
  }
}
