@import 'variables';

.overlay {
  position: fixed;
  pointer-events: none;
  inset: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  background: rgba($color: #000, $alpha: 60%);
  opacity: 0;
  transition: transform var(--animation-duration),
    opacity var(--animation-duration);
}

.content {
  padding: 15px;
  border-radius: 8px;
  background-color: var(--background);
  max-width: 80%;
}

.open {
  transform: scale(1);
  opacity: 1;
  pointer-events: all;
}
